/* @media screen and (max-width:375px) 
{   *{
    padding:0;
    margin:0;
    
}
    body{
     overflow-x: hidden;
     overflow-y: visible;
    }
    .cont1{
     overflow-x: hidden;

        max-width: 100%;
        margin: 10px;
        margin-top: 30px;
        padding: 10px;
        justify-content: space-between;
        
    }
    .cont2 {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    
    }
    .logo{
        margin:0;
        padding:0;
    }
} */